.message-container{
    width: 100%;
    height: 100vh;
    background-color: red;
}
.message-show-user{
    width: 40vh;
    height: 100%;
    background-color: blue;
}
.message-section{
    width: 100%;
    height: 100%;
}